@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    background: rgb(150, 150, 150);
}
header {
    
    background: rgb(56, 55, 55); 
    text-align: center;
    align-content: center;
    padding: 1em;
    nav {        
        ul{     
            display: grid;
            grid-template-columns: repeat(3, auto);               
           li {
                display: inline-block;
                justify-self: center;
                //border-right: 1px solid white;
                max-width: 100px;
                padding: .6em;
                transition: all .5s;
                
                a {
                    color: white;
                    font-size: 1.5em;
                    
                }
            }
        }
    }
}

.intro {
    position: absolute;
    left: -900px;
    background: rgb(32, 31, 31);
    width: 900px;
    height: 60vh;
    margin: 50px auto;
    
    .content {

        padding: 1em;
        h1 {
            color: yellow;
            font-size: 3em;
        }
        p {
            color: white;
        }
    }
    
}

.show {
    
    animation: show .3s forwards ease-in-out;
    
}
 
@keyframes show {
    0%{
       left: -900px; 
    }
    100%{
       left: 30px; 
    }
}